
@import "../vendor/skeleton-sass/skeleton";

$landing-padding: 80px;
$color: rgb(255, 255, 255);
$shadow: 0px 0px 2px black;

@import "parts/main";
@import "parts/header";
@import "parts/services";
@import "parts/features";
@import "parts/clients";
@import "parts/team";
@import "parts/contact";
@import "parts/footer";











