.clients {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(245, 245, 245);
}
.clients-heading {
    font-weight: lighter;
    margin-bottom: 0px;
    text-align: center;
}
/* dodaje treść przed i po treści w div */

.clients-heading::before{
    content:"-";
    color:red;
    padding-right:5px;
}

.clients-heading::after{
    content:"-";
    color:blue;
    padding-left:5px;
}
/*-------------*/

.clients-subheading {
    text-align: center;
}


.client-quote {
    border: 2px solid rgb(235, 235, 235);
    background-color: rgb(255, 255, 255);
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 3px;
    font-size: 150%;
    font-weight: lighter;
    font-style: italic;
    position: relative;
}
.client-quote p {
    margin-bottom: 5px;
}
.client-quote-author {
    font-style: normal;
    font-size: 70%;
    color: rgb(119, 147, 197);
}

.client-quote::before, .client-quote::after  {
    content:"";
    position: absolute;
    top:46%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 2px solid transparent;

}

.client-quote::after {

    left:-12px;
    padding-top:-13px;
    border-right: 10px solid rgb(255, 255, 255);   

}

.client-quote::before{

    left:-14px;
    padding-top:-14px;
    border-right: 10px solid rgb(235, 235, 235);
 
}

.client-quote-left::before, .client-quote-left::after  {
    content:"";
    position: absolute;
    top:46%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 2px solid transparent;

}


.client-quote-left::after{
    right:-12px;
    left: auto;
    padding-top:-13px;
    border-left: 10px solid rgb(255, 255, 255);   
}

.client-quote-left::before{
    right:-14px;
    left: auto;
    padding-top:-14px;
    border-left: 10px solid rgb(235, 235, 235); 
    
}