
.header {
    height: 620px;
    background-image: url("../img/header-background-edited.jpg");
    background-size: cover;
    background-position: 50% 62%; //skalowanie bg cover z pozycji horyz-wertykal
}

.header-navbar-links {

    float: right;
    margin-top: 50px;
    display:none;  /* standart menu for mobile hidden*/

    @media($bp-larger-than-tablet) {
        display:block;
        font-size: 90%
    }
}

.header-navbar-links li {
    float: left;
    list-style-type: none;
    margin-left: 26px;
    text-shadow: $shadow;
    
}

.header-navbar-links li a{

    text-decoration: none;
    color:$color;
}
.header-navbar-links li a:hover{

    text-decoration: underline;
    color:rgb(230, 230, 230);
  
}

.header-brand-wrapper {
    margin-top: 50px;
    float: left;
}
.header-brand {
    color: $color;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    display: block;
    margin-top: -9%;
    text-shadow: $shadow;
}
.slogan {
    padding-top: $landing-padding;
    color: $color;
    text-align: center;
    text-shadow: $shadow; 
}
.slogan-top {
    font-size: 170%;
    font-weight: lighter;//tekst jest bardziej czytelny
} 
.slogan-bottom {
    font-size: 250%;
    font-weight: bold; //text jest bardziej czytelny
}
.solgan-button {
    margin-top: 50px;
    color: $color;
    text-shadow: $shadow;
}
.solgan-button:hover {
    color: $color;
    text-shadow: $shadow;
}

#side-menu-trigger{
    float:right;
    margin-top:40px;
    margin-left:10px;
    color: $color;
    font-size:100%;
    height:inherit;
    padding:0 20px;

    @media($bp-larger-than-tablet){
        display:none; /*hidden hamburger menu dla desktop */
    }
}
.fa-bars{
    color: $color;
    padding:5px 0;
}

