.service {
    padding-top: $landing-padding;
    padding-bottom: $landing-padding -10px;
}
.service-gray {
    background-color: rgb(245, 245, 245);
}
.service-title {
    font-weight: lighter;
    color: rgb(30, 30, 30);
}
.service-icon {
    color: rgb(224, 224, 224);
    font-size: 1250%;
    text-align: center;
    margin-top: -10%;
    margin-bottom: -20%;
}
